<% if (post.comments ){ %>
  <div class="comments" id="comments">
    <% if  (theme.duoshuo_shortname){ %>
      <div class="ds-thread" data-thread-key="<%= page.path %>"
           data-title="<%= page.title %>" data-url="<%= page.permalink %>">
      </div>
      <% } %>
     <% if  (theme.disqus_shortname){ %>
    <section id="comments">
      <div id="disqus_thread">
        <noscript>
          Please enable JavaScript to view the
          <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
      </section>
      <% } %>
       <% if  (theme.gentie_productKey){ %>
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <% } %>
       <% if  (theme.changyan_appid && theme.changyan_appkey){ %>
            <div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cyuD50Pqv'; 
var conf = 'prod_4668108628adf4b398aa4219d3653b94'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) {
var head = document.getElementsByTagName('head')[0]||document.head||document.documentElement;
var script = document.createElement('script');
script.type = 'text/javascript';
script.charset = 'utf-8';
script.id = 'changyan_mobile_js';
script.src = 'https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf;
head.appendChild(script);
} else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
    <% } %>
      <% if (theme.youyan_uid){ %>
           <div id="uyan_frame"></div>
    <% } %>
      <% if (theme.gitment.enable){ %>
           <div id="gitment_comments"></div>
    <% } %>
	 <% if (theme.livere.on){ %>
           <div id="comments/livere"></div>
    <% } %>
  </div>
 <% } %>